[submodule "genpdf-json-bin"]
	path = genpdf-json-bin
	url = https://github.com/numaelis/genpdf-json-bin.git
[submodule "rckive-genpdf"]
	path = rckive-genpdf
	url = https://github.com/numaelis/rckive-genpdf-rs.git
